.footer__table {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .footer__table {
        display: flex;
        flex-direction: column;
    }
}

.footer__table:last-of-type {
    padding-bottom: 0px;
    margin-right: 0;
}