.container_size_small {
  max-width: 984px;
  padding: 0 48px;
}

@media(max-width:1023px) {
  .container_size_small {
    padding: 0 24px;
  }
}

@media(max-width:767px) {
  .container_size_small {
    padding: 0 16px;
  }
}